/* @tailwind utilities; */

@supports (position: sticky) {
  @media (min-width: theme('screens.lg')) {
    .sticky\?lg\:h-screen {
      height: 100vh !important;
    }

    .sticky\?lg\:h-\(screen-2\) {
      height: calc(100vh - theme('spacing.2'));
    }
  }
}

.will-change-auto {
  will-change: auto;
}

.will-change-transform {
  will-change: transform;
}

.will-change-visibility {
  will-change: visibility;
  /* content-visibility: auto; */
}

.touch-scrolling{
  -webkit-overflow-scrolling : touch;
}
